@import url('https://fonts.cdnfonts.com/css/rawline');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Fonte padrão */
  --font-family: 'Rawline', sans-serif;

  /* Primary Colors */
  --color-primary-90: #071d41;
  --color-primary-80: #0c326f;
  --color-primary-70: #1351b4;
  --color-primary-60: #1558cb;
  --color-primary-50: #2670e8;
  --color-primary-40: #5992ed;
  --color-primary-30: #81aefc;
  --color-primary-20: #adcdff;
  --color-primary-10: #d4e5ff;
  --color-primary-05: #edf5ff;

  /* Primary Default */
  --color-primary: #1351b4;

  /* Secondary Colors */
  --color-secondary-80: #19311e;
  --color-secondary-70: #154c21;
  --color-secondary-60: #216e1f;
  --color-secondary-50: #168821;
  --color-secondary-40: #40a91c;
  --color-secondary-30: #21c834;
  --color-secondary-20: #70e17b;
  --color-secondary-10: #b7f58d;
  --color-secondary-05: #e3f5e1;

  /* Secondary Default */
  --color-secondary: #168821;

  /* Error */
  --color-error: #b00020;

  /* Text colors */
  --text-on-primary: #ffffff;
  --text-on-secondary: #000000;
  --text-on-surface: #000000;
  --text-on-background: #000000;
  --text-on-error: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


